wandb/
data/Synthetic_Rec_En_V1/
data/Synthetic_Rec_En_V2/
data/test_data/
temp.py
data/Synthetic_Rec_En_V3/
__pycache__/
data/Synthetic_Rec_En_V4/
data/OCR_CROPS_ENGLISH(0-4000)/
todo.txt
model.py
data/